@model LocationSolution.Mvc.Web.Models.Countries.CountryCreateModel

@{
    ViewBag.Title = "Countries | Create Country";
}

<h1>Create Country</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    <div class="control-group">
        @Html.LabelFor(m => m.CountryCode)
        <div class="controls">
            @Html.TextBoxFor(m => m.CountryCode, new { maxlength = "3" })
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.CountryName)
        <div class="controls">
            @Html.TextBoxFor(m => m.CountryName, new { maxlength = "100" })
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.CountryOrder)
        <div class="controls">
            @Html.TextBoxFor(m => m.CountryOrder, new { maxlength = "20" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Displayable)
        <div class="controls">
            @Html.CheckBoxFor(m => m.Displayable)
        </div>
    </div>

    <div class="form-actions">
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Create Country</button>
        </div>
    </div>
}