@model LocationSolution.Mvc.Web.Models.ZipCodes.ZipCodeCreateModel

@{
    ViewBag.Title = "Create Zip";
}

<h1>Create Zip</h1>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    <div class="control-group">
        @Html.LabelFor(m => m.CountryCode)
        <div class="controls">
            <select data-val="true" data-val-required="The Country Code field is required." id="CountryCode" name="CountryCode" data-default-value="@Model.CountryCode" data-url="@Url.Content("~/api/countries")">
                <option value="">Select a Country</option>
            </select>
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.StateId)
        <div class="controls">
            <select data-val="true" data-val-required="The State field is required." id="StateId" name="StateId" data-default-value="@Model.StateId" data-url="@Url.Content("~/api/countries/{countryCode}/states")">
                <option value="">Select a State</option>
            </select>
        </div>
    </div>
    
    <div class="control-group">
       @Html.LabelFor(m => m.CityId)
        <div class="controls">
            <select data-val="true" data-val-required="The City field is required." id="CityId" name="CityId" data-default-value="@Model.CityId" data-url="@Url.Content("~/api/states/{stateId}/cities")">
                <option value="">Select a City</option>
            </select>
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Zip)
        <div class="controls">
            @Html.TextBoxFor(m => m.Zip, new { maxlength = "15", @class = "span2" })
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Longitude)
        <div class="controls">
            @Html.TextBoxFor(m => m.Longitude, new { maxlength = "15", @class = "span2" })
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Latitude)
        <div class="controls">
            @Html.TextBoxFor(m => m.Latitude, new { maxlength = "15", @class = "span2" })
        </div>
    </div>
    
    <div class="form-actions">
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Create Zip</button>
        </div>
    </div>
}


@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Countries/country-utils.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/States/state-utils.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Cities/city-utils.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/ZipCodes/zipcodes.js")"></script>
}
